<h2><%= @survey.name %></h2>

<% @questions.each do |question| %>
  <h3><%= question.body %></h3>
  <% question.answers.each do |answer| %>
    <li><%= answer.body %>:  <%= answer_count(answer) %></li>
  <% end %>
<% end %>
