<h1>Survey <%= @survey.name %></h1>

<% @questions.each do |question| %>
    <% question.answers.each do |answer| %>
      <%= question.body %> <br> <br>
      <%= answer.body %> <br>
  <% end %>
<% end %>
