<h1> WELCOME TO BUTTER SURVEYS </h1>

  <% if logged_in?  %>
  <%= link_to "#{User.find(session[:user_id]).name}" %>
      <%= link_to 'logout', logout_path, method: 'delete' %>
    <% else %>
      <%= link_to 'login', login_path %>
  <% end %>